<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <style>
        body{
            background-color:black;
            color:white;
        }
    </style>
    <div class="container body-content">
        @RenderBody()
        <div class="bottom-border" style="margin-top:10px;"></div>
        <footer>
            <p>&copy; @DateTime.Now.Year - STIT</p>
        </footer>
    </div>
    @RenderSection("JavaScript", required: false)
</body>
</html>